.left-align {
    text-align: left;
}

.tunic {
    grid-area: tunic;
}

.english {
    grid-area: english;
}

.text-area {
    padding: 20px;
    margin: 10px;
    flex-grow: 1;
}

.tunic .text-area {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 300px;
    grid-template-areas:
    'english tunic'
}

.grid-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.language-title {
    margin: 5px;
    border: solid 1px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 10px;
}

.word {
    margin: 0px 10px 0px 10px;
    display: inline-block;
}

.puncuation {
    position:relative;
    top:-1em;
}

.placeholder {
    color: rgba(0, 0, 0, 0.4);
}

textarea {
    border: none;
    outline: none;
    resize: none;
}