.left-align {
    text-align: left;
}

.tunic {
    grid-area: tunic;
}

.english {
    grid-area: english;
}

.text-area {
    padding: 20px;
    margin: 10px;
    flex-grow: 1;
}

.tunic .text-area {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-template-areas:
    'english'
    'tunic';
    min-height:600px;
}

/* For Tablet/Desktop */
@media only screen and (min-width: 600px) {
    .grid-container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        grid-template-areas:
        'english tunic';
        min-height: 300px;
    }
}

.grid-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.language-header {
    display: flex;
    flex-direction: row;
}

.language-title {
    margin: 5px;
    border: solid 1px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 10px;
    flex-grow: 1;
}

.word {
    margin: 0px 10px 0px 10px;
    display: inline-block;
}

.puncuation {
    position:relative;
    top:-1em;
}

.placeholder {
    color: rgba(0, 0, 0, 0.4);
}

textarea {
    border: none;
    outline: none;
    resize: none;
}

.modal {
    display: block;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal.hidden {
    display: none;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }