.left-align {
    text-align: left;
}

.tunic {
    grid-area: tunic;
}

.english {
    grid-area: english;
}

.grid-container {
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 300px;
    grid-template-areas:
    'english tunic'
}

.language-title {
    padding: 5px 0px 5px 5px;
    border: solid 1px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    margin: 10px 0px 10px 10px;
}

.word {
    margin: 0px 10px 0px 10px;
    display: inline-block;
}

.puncuation {
    position:relative;
    top:-1em;
}

.placeholder {
    color: rgba(0, 0, 0, 0.4);
}

textarea {
    width: 100%;
    height: 80%;
    border: none;
    outline: none;
}