.left-align {
    text-align: left;
}

.text-area {
    padding: 20px;
    margin: 10px;
    flex-grow: 1;
}

.tunic .text-area {
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    min-height:600px;
}

/* For Tablet/Desktop */
@media only screen and (min-width: 600px) {
    .grid-container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        min-height: 2s00px;
    }
}

.grid-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.language-title {
    margin: 5px;
    border: solid 1px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 10px;
    flex-grow: 1;
}

.word {
    margin: 0px 10px 0px 10px;
    display: inline-block;
}

.puncuation {
    position:relative;
    top:-1em;
}

.placeholder {
    color: rgba(0, 0, 0, 0.4);
}

textarea {
    border: none;
    outline: none;
    resize: none;
}

#swap-languages-button {
    aspect-ratio: 1;
    background-color: none;
    border: none;
}